{% extends "home.html" %}
{% block page_content %}
{% block head %}
{{super()}}
<style media="screen">
  h1 {
    color: blue;
    position: block;
  }
</style>
{%endblock%}
{%block title%}
Home
{% endblock %}
<h1 class="mt-5"><i aria-hidden="true"></i> James Carder</h1>
<h2>4319 Farmfield Ct</h2>
<h2>Baldwin MD, 21013</h2>
<a href="www.linkedin.com">
        <i class="fa fa-fw fa-linkedin"></i>
  </a>
  <a href="www.facebook.com/">
          <i class="fa fa-fw fa-facebook"></i>
    </a>
{% endblock %}
